<div class='board'>
  <%# <%= render partial: 'preselected_tiles/monasteries' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_one_castle' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_two_castles' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_two_castles_with_barricade' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_three_castles' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_three_castles_with_barricade' %1> %>
  <%# <%= render partial: 'preselected_tiles/plain_four_castles' %1> %>
  <%# <%= render partial: 'preselected_tiles/three_castles_with_road' %1> %>
  <%# <%= render partial: 'preselected_tiles/three_castles_with_road_and_barricade' %1> %>
  <%# <%= render partial: 'preselected_tiles/connected_opposite_roads' %1> %>
  <%# <%= render partial: 'preselected_tiles/connected_opposite_roads_with_single_castle' %1> %>
  <%# <%= render partial: 'preselected_tiles/connected_roads_and_castles' %1> %>
  <%# <%= render partial: 'preselected_tiles/connected_roads_and_castles_with_barricade' %1> %>
  <%# <%= render partial: 'preselected_tiles/connected_curbed_roads' %1> %>
  <%# <%= render partial: 'preselected_tiles/one_castle_connected_curbed_roads' %1> %>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-east'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-south'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
</div>
