<div class='board'>
  <%= render partial: 'preselected_tiles/monasteries' %>
  <%= render partial: 'preselected_tiles/plain_one_castle' %>
  <%= render partial: 'preselected_tiles/plain_two_castles' %>
  <%= render partial: 'preselected_tiles/plain_two_castles_with_barricade' %>
  <%= render partial: 'preselected_tiles/plain_three_castles' %>
  <%= render partial: 'preselected_tiles/plain_three_castles_with_barricade' %>
  <%= render partial: 'preselected_tiles/plain_four_castles' %>
  <%= render partial: 'preselected_tiles/three_castles_with_road' %>
  <%= render partial: 'preselected_tiles/three_castles_with_road_and_barricade' %>
  <%= render partial: 'preselected_tiles/connected_opposite_roads' %>
  <%= render partial: 'preselected_tiles/connected_opposite_roads_with_single_castle' %>
  <div class='tile'>
    <div class='castle-north-west-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-west-connected-road'></div>
    <div class='barricade-north-west-corner'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-west-connected-road'></div>
    <div class='barricade-south-west-corner'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-east-connected-road'></div>
    <div class='barricade-south-east-corner'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-east-connected-road'></div>
    <div class='barricade-north-east-corner'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-east-connected-road'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-south-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
  </div>
  <div class='tile'>
    <div class='castle-west-connected-road'></div>
    <div class='road-north'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-north'></div>
    <div class='road-south'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-east'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-south'></div>
  </div>
  <div class='tile'>
    <div class='castle-south'></div>
    <div class='road-north'></div>
    <div class='road-west'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='castle-west'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
  </div>
  <div class='tile'>
    <div class='square-not-connected'></div>
    <div class='road-north'></div>
    <div class='road-south'></div>
    <div class='road-east'></div>
    <div class='road-west'></div>
  </div>
</div>
