<div class='board'>
  <%= render partial: 'preselected_tiles/monasteries' %>
  <%= render partial: 'preselected_tiles/plain_one_castle' %>
  <%= render partial: 'preselected_tiles/plain_two_castles' %>
  <%= render partial: 'preselected_tiles/plain_two_castles_with_barricade' %>
  <%= render partial: 'preselected_tiles/plain_three_castles' %>
  <%= render partial: 'preselected_tiles/plain_three_castles_with_barricade' %>
  <%= render partial: 'preselected_tiles/plain_four_castles' %>
  <%= render partial: 'preselected_tiles/three_castles_with_road' %>
  <%= render partial: 'preselected_tiles/three_castles_with_road_and_barricade' %>
  <%= render partial: 'preselected_tiles/connected_opposite_roads' %>
  <%= render partial: 'preselected_tiles/connected_opposite_roads_with_single_castle' %>
  <%= render partial: 'preselected_tiles/connected_roads_and_castles' %>
  <%= render partial: 'preselected_tiles/connected_roads_and_castles_with_barricade' %>
  <%= render partial: 'preselected_tiles/connected_curbed_roads' %>
  <%= render partial: 'preselected_tiles/one_castle_connected_curbed_roads' %>
  <%= render partial: 'preselected_tiles/plain_three_roads' %>
  <%= render partial: 'preselected_tiles/one_castle_three_roads' %>
  <%= render partial: 'preselected_tiles/four_roads' %>
</div>
